.cabinet{
    min-height: 100vh;
    padding-top: 4rem;
    .user-icon {
        width: 150px;
        height: 150px;
        margin-left: 3rem;
        margin-right: 3rem;
        margin-bottom: 1rem;
    }
    .user-name, .admin-link{
        text-align: center;
    }
}