$primary: #0b7bf8;
$secondary: #ee581e;
$font-size-lg: 1.5rem;
// $success:       yellow;
// $info:          black;
// $warning:       salmon;
// $danger:        gold;
// $light:         purple;
$dark: black;
$semi-dark: #19191e;

$font-family-sans-serif: IBM Plex Sans, sans-serif;

$link-color: $secondary;
$border-radius: 2px;

:root {
    --ggs: 0.8;
}