{% extends 'base.html.twig' %}
{% block body %}
    <h3>Created product</h3>
    <p>Query : {{ query }}</p>
    <p>Title : {{ title }}</p>
    <p>Price: {{ price }}</p>
    <p>Description: {{ description }}</p>
{% endblock %}
