<div class="cart">
    <h2 class="cart-title">Your Cart</h2>
    <div class="no-items">
            <div class="alert alert-info">There is no items in your cart.</div>
        </div>
    <div class="cart-content hidden">
        <div class="cart-items">
        </div>
        <div class="total">
            <div class="total-title">Total: </div>
            <div class="total-price">$0</div>
        </div>
    </div>
    <a href="{{url('cart.checkout')}}" class="btn btn-block btn-buy">Buy Now</a>
</div>