<footer class="text-white">
    <div class="container pt-4 pb-3 align-content-lg-center">
        <div class="row ">
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 text-left">
                <h5 class="text-uppercase">Links</h5>

                <ul class="list-unstyled ">
                    <li>
                        <a href="{{ url('home') }}">Home</a>
                    </li>
                    <li>
                        <a href="#">Products</a>
                    </li>
                    <li>
                        <a href="#">Orders</a>
                    </li>
                </ul>
            </div>
            <div class="socials col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 text-left">
                <h5 class="text-uppercase"> Contacts</h5>
                <ul class="list-unstyled ">
                    <li>
                        <i class="gg-instagram"></i> @internshop
                    </li>
                    <li>
                        <i class="gg-smartphone"></i> +373-789-508-96
                    </li>
                    <li>
                        <i class="gg-mail"></i> webshop@gmail.com
                    </li>
                </ul>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 text-left">
                <h5 class="text-uppercase"> Address</h5>
                <ul class="list-unstyled  ">
                    <li>
                        <i class="gg-pin"></i> Chișinău, bd. Dacia, nr.5
                    </li>
                    <li>
                        <i class="gg-pin"></i> Chișinău, bd. Moscova nr.19
                    </li>
                    <li>
                        <i class="gg-pin"></i> Chișinău, str. M. Viteazu nr.9
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <div class="text-center p-3 footer-ribbon">
        <a class="m-1" href="#" role="button">
        <span><i class="gg-facebook"></i></span>
        </a>

        <a class="m-1" href="#" role="button">
            <i class="gg-google"></i>
        </a>

        <a class="m-1" href="#" role="button">
            <i class="gg-instagram"></i>
        </a>

    </div>

</footer>

